.roadmap-bottom-offset {
  bottom: calc(0px + 5rem); /* 5rem = h-20 */
}

.roadmap-face-position {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50%;
  height: auto;
  transform: translateY(calc(-50% + 5rem));
}

.font-outline-2 {
  -webkit-text-stroke: 0.5px #FFF442;
}

#section-intro svg {
  position: absolute;
}